
@{
    ViewBag.Title = "AnimeLoginIndex";
    Layout = "~/Views/Shared/_AnimeLayout.cshtml";
}

<h2>AnimeLoginIndex</h2>

<section class="normal-breadcrumb set-bg" data-setbg="/anime-main/img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Giriş Sayfası</h2>
                    <p>Anime-Yazılım sitesine hoşgeldiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Giriş Yap</h3>
                    @using (Html.BeginForm("AnimeLoginIndex", "Login", FormMethod.Post))
                    {
                        <form action="#">
                            <div class="input__item">
                                <input type="text" class="form-control" name="WriterMail" placeholder="E-mail Adresinizi Giriniz.">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" class="form-control" name="WriterPassword" placeholder="Şifrenizi Giriniz.">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Giriş Yap</button>
                        </form>
                        <a href="#" class="forget_pass">Şifrenimi Unuttun?</a>
                    }
                    </div>     
            </div>

            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Henüz bir hesabınız yokmu?</h3>
                    <a href="#" class="primary-btn">Hesap Oluştur.</a>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>Veya</span>
                        <ul>
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i>Facebook ile giriş yapınız
                                </a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i>Google ile giriş yapınız.</a></li>
                            <li>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i>Twitter ile giriş yapınız.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>